<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="form-group">
    <%= form.label :option_webhook_secret %>
    <%= form.text_field :option_webhook_secret, class: "form-control" %>
    <p class="form-hint"><%== t(".option_webhook_secret_hint_html") %></p>
  </div>
</div>