<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="form-group">
    <%= form.check_box :option_issue_updated, class: "form-checkbox mr-1" %>
    <%= form.label :option_issue_updated, class: "inline-block" %>
    <p class="form-hint"><%== t(".option_issue_updated_hint_html") %></p>
  </div>
</div>