---
http_interactions:
- request:
    method: post
    uri: "<INTEGRATION_CUSTOM_WEBHOOK_V3_SERVICE_URL>"
    body:
      encoding: UTF-8
      string: '{"log":{"remote_ip":"127.0.0.1","url":"https://integration.url/int_123","method":"post","headers":{"Content-Type":"application/json"},"data":{"monitorID":"12345","alertTypeFriendlyName":"Up","monitorFriendlyName":"My
        Website","alertDetails":"Connection timeout","monitorURL":"https://example.com","urgency":"high","alertDateTime":1733126400},"params":null,"body":{"monitorID":"12345","alertTypeFriendlyName":"Up","monitorFriendlyName":"My
        Website","alertDetails":"Connection timeout","monitorURL":"https://example.com","urgency":"high","alertDateTime":1733126400}},"config":{"rules":[{"match":{"log.data.alertTypeFriendlyName":{"$regex":"^down$","$options":"i"}},"actions":[{"type":"create","title":"{{log.data.monitorFriendlyName}}
        is DOWN","description":"{{log.data.monitorFriendlyName}} is DOWN because {{log.data.alertDetails}}","urgency":"{{log.data.urgency}}","dedup_keys":"xyz","incident":"true","incident_severity":"SEV-2","incident_message":"Please
        join the bridge","tags":["monitor","website"],"meta":{"key1":"value1","key2":"value2"},"thirdparty_id":"{{log.data.monitorID}}","additional_data":[{"format":"link","label":"Monitor
        URL","value":"{{log.data.monitorURL}}"},{"format":"datetime","label":"Triggered
        At","value":"{{log.data.alertDateTime}}"}]}]},{"match":{"log.data.alertTypeFriendlyName":{"$regex":"^pending$","$options":"i"}},"actions":[{"type":"acknowledge"}]},{"match":{"log.data.alertTypeFriendlyName":{"$regex":"^up$","$options":"i"}},"actions":[{"type":"resolve","thirdparty_id":"{{log.data.monitorID}}"}]},{"match":{"log.data.alertTypeFriendlyName":"Paused"},"actions":[{"type":"ignore"}]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69-xLsFvyVIU3kv1kaWMfIhWaIwVVU"
      Fly-Request-Id:
      - 01KBQQPQZAVX1SPPNA3395CXSH-lax
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"type":"resolve","thirdparty_id":"12345"}],"status":"query
        matched","processedLogData":null}'
  recorded_at: Fri, 05 Dec 2025 17:07:10 GMT
recorded_with: VCR 6.0.0
