---
http_interactions:
- request:
    method: post
    uri: "<INTEGRATION_CUSTOM_WEBHOOK_V3_SERVICE_URL>"
    body:
      encoding: UTF-8
      string: '{"log":{"url":"https://integration.url/int_123","method":"post","headers":{"Content-Type":"application/json"},"data":{"monitorID":"12345","alertTypeFriendlyName":"Paused","monitorFriendlyName":"My
        Website","alertDetails":"Connection timeout","monitorURL":"https://example.com","urgency":"high","alertDateTime":1733126400},"remote_ip":"127.0.0.1"},"config":"---\nrules:\n  -
        match:\n      log.data.alertTypeFriendlyName: { $regex: \"^down$\", $options:
        \"i\" }\n    actions:\n      - type: create\n        title: \"{{log.data.monitorFriendlyName}}
        is DOWN\"\n        description: \"{{log.data.monitorFriendlyName}} is DOWN
        because {{log.data.alertDetails}}\"\n        urgency: \"{{log.data.urgency}}\"\n        dedup_keys:
        \"xyz\"\n        incident: \"true\"\n        incident_severity: \"SEV-2\"\n        incident_message:
        \"Please join the bridge\"\n        tags:\n        - monitor\n        - website\n        meta:\n          key1:
        value1\n          key2: value2\n        thirdparty_id: \"{{log.data.monitorID}}\"\n        additional_data:\n          -
        format: link\n            label: Monitor URL\n            value: \"{{log.data.monitorURL}}\"\n          -
        format: datetime\n            label: Triggered At\n            value: \"{{log.data.alertDateTime}}\"\n  \n  -
        match:\n      log.data.alertTypeFriendlyName: { $regex: \"^pending$\", $options:
        \"i\" }\n    actions:\n      - type: acknowledge\n\n  - match:\n      log.data.alertTypeFriendlyName:
        { $regex: \"^up$\", $options: \"i\" }\n    actions:\n      - type: resolve\n        thirdparty_id:
        \"{{log.data.monitorID}}\"\n  \n  - match:\n      log.data.alertTypeFriendlyName:
        \"Paused\"\n    actions:\n      - type: ignore\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38-NANqT6Yl4GbsQjPc4Rk2LS43Dbs"
      Fly-Request-Id:
      - 01KBKETRZ0D4F7JFN7CBED43TZ-lax
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"type":"ignore"}],"status":"query matched"}'
  recorded_at: Thu, 04 Dec 2025 01:15:07 GMT
recorded_with: VCR 6.0.0
