---
http_interactions:
- request:
    method: post
    uri: https://api.hookrelay.dev/hooks/<HOOK_RELAY_ACCOUNT_ID>/<HOOK_RELAY_HOOK_ID>
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      Hr-Target-Url:
      - https://httpstat.us/200
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 27ad9b31-daf7-4364-834b-1063c3b35484
      Ratelimit-Remaining:
      - '9994'
      Ratelimit-Limit:
      - '10000'
      X-Amzn-Remapped-Content-Length:
      - '35'
      X-Amz-Apigw-Id:
      - N8_Z7GZFIAMFydQ=
      Location:
      - https://app.hookrelay.dev/deliveries/<HOOK_RELAY_ACCOUNT_ID>/<HOOK_RELAY_HOOK_ID>/01FWH51NY9H5PG6QA5EZV8Z9XN
      Ratelimit-Reset:
      - '1645574400'
    body:
      encoding: UTF-8
      string: '{"id":"01FWH51NY9H5PG6QA5EZV8Z9XN"}'
  recorded_at: Tue, 22 Feb 2022 16:43:18 GMT
recorded_with: VCR 6.0.0
