---
http_interactions:
- request:
    method: post
    uri: https://api.hookrelay.dev/hooks/<HOOK_RELAY_ACCOUNT_ID>/<HOOK_RELAY_HOOK_ID>
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      Hr-Target-Url:
      - https://httpstat.us/200
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b313225f-9af3-49eb-a27a-d211c500c620
      Ratelimit-Remaining:
      - '9993'
      Ratelimit-Limit:
      - '10000'
      X-Amzn-Remapped-Content-Length:
      - '35'
      X-Amz-Apigw-Id:
      - N9CsQG__IAMFomg=
      Location:
      - https://app.hookrelay.dev/deliveries/<HOOK_RELAY_ACCOUNT_ID>/<HOOK_RELAY_HOOK_ID>/01FWH6ARG7JTA8MK1PV477S2NY
      Ratelimit-Reset:
      - '1645574400'
    body:
      encoding: UTF-8
      string: '{"id":"01FWH6ARG7JTA8MK1PV477S2NY"}'
  recorded_at: Tue, 22 Feb 2022 17:05:44 GMT
recorded_with: VCR 6.0.0
