<div class="password-visibility-toggle">
  <%= tag.button data: { action: "password-visibility#toggle", password_visibility_target: "icon"} do %>
    <%= fa_icon "eye" %>
  <% end %>
  <%= tag.button class: "hidden", data: { action: "password-visibility#toggle", password_visibility_target: "icon"} do %>
    <%= fa_icon "eye-slash" %>
  <% end %>
</div>