<%= form.hidden_field :option_code, class: "form-control" %>

<div class="grid grid-cols-1 gap-4">
  <div class="form-group group">
    <%= form.label :option_client_secret %>
    <%= form.text_field :option_client_secret, class: "form-control" %>
    <p class="form-hint"><%== t(".option_client_secret_hint_html") %></p>
  </div>
</div>