<div class="grid grid-cols-1 gap-4">
  <div class="form-group group">
    <%= form.check_box :option_support_retriggered_event, class: "form-checkbox" %>
    <%= form.label :option_support_retriggered_event, class: "inline-block" %>
    <p class="form-hint md:inline-block"><%== t(".option_support_retriggered_event_hint_html") %></p>
  </div>
</div>