<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="form-group group">
    <%= form.label :option_authentication_token %>
    <%= form.text_field :option_authentication_token, class: "form-control" %>
    <p class="form-hint"><%== t(".option_authentication_token_hint_html") %></p>
  </div>
</div>