<div class="grid grid-cols-1 gap-4">
  <div class="form-group group">
    <%= form.check_box :option_map_urgency, class: "form-checkbox" %>
    <%= form.label :option_map_urgency, class: "inline-block" %>
    <p class="form-hint md:inline-block"><%== t(".option_map_urgency_hint_html") %></p>
  </div>
</div>